<html>
  <head>
    <title>
      Launchaco - Name a Business.
    </title>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/devices.css">
  </head>
  <body>
    <header class="header">
      <div class="container-lrg">
        <div class="col-12 spread">
          <div>
            <a class="logo">
              oliver.codeclub.site
            </a>
          </div>
          <div>
            <a class="nav-link" href="#">
              Twitter
            </a>
            <a class="nav-link" href="#">
              Facebook
            </a>
          </div>
        </div>
      </div>
      <div class="container-sml ">
        <div class="col-12">
          <h1 class="heading text-center">
            Welcome to my template page I used Launchaco to develop this page.
          </h1>
        </div>
      </div>
      <div class="container-lrg">
        <div class="centerdevices col-12">
          <div class="iphoneipad">
            <div class="iphone">
              <div class="mask">
                <img class="mask-img" src="img/mobileapp.svg">
              </div>
            </div>
            <div class="ipad">
              <div class="mask">
                <img class="mask-img" src="img/webapp.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-sml">
      <div class="col-12 text-center">
        <h2 class="paragraph">
          We're creating the best place to go when starting a new business or company. With Launchaco you can instantly search domain names, social media handles, and see your logo in beautiful logotypes.
        </h2>
        <div class="ctas">
          <div class="emailcta">
            <input class="ctas-input" type="text" placeholder="Your Email Address">
            <button class="ctas-button">
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </header>
    <div class="feature4">
      <div class="container-lrg flex">
        <div class="col-5 centervertical">
          <h3 class="subheading">
            Brilliant Domain Names.
          </h3>
          <p class="paragraph">
            Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!
          </p>
        </div>
        <div class="col-1">
        </div>
        <div class="col-6">
          <div class="sidedevices">
            <div class="iphoneipad2">
              <div class="iphone">
                <div class="mask">
                  <img class="mask-img" src="img/mobileapp.svg">
                </div>
              </div>
              <div class="ipad">
                <div class="mask">
                  <img class="mask-img" src="img/webapp.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="socialproof">
      <div class="container-sml text-center">
        <div class="col-12">
          <h4 class="heading">
            Some people think we're pretty neat.
          </h4>
        </div>
      </div>
      <div class="container-lrg">
        <div class="logos flex">
          <img class="col-3" src="img/launchacologo.svg">
          <img class="col-3" src="img/launchacologo.svg">
          <img class="col-3" src="img/launchacologo.svg">
          <img class="col-3" src="img/launchacologo.svg">
          <img class="col-3" src="img/launchacologo.svg">
          <img class="col-3" src="img/launchacologo.svg">
          <img class="col-3" src="img/launchacologo.svg">
          <img class="col-3" src="img/launchacologo.svg">
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container-sml text-center">
        <div class="col-12">
          <h5 class="heading">
            Instantly search domains, handles and logotypes.
          </h5>
          <div class="ctas">
            <a class="ctas-button" href="">
              Sign Up
            </a>
            <a class="ctas-button-2" href="">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>