@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:700);

body{
	font-family: 'Libre Baskerville', serif;
	background-color: #eee;
	background-image: linear-gradient(-45deg, #fff 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #fff 50%, #fff 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
	-webkit-background-size: 4px 4px;
	-moz-background-size: 4px 4px;
	background-size: 4px 4px;
  color: #999;
}