a{
    margin-top: 10px;
    width: 115px;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none ;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}
.button1 {
    background: rgb(20,40,255);
}
    .button2 {
    background: rgb(180,15,60);
}
        
        .button3 {
    background: rgb(69,25,5);
}
            .button4 {
    background: rgb(84,5,93);
}
            .button5 {
    background: rgb(40,96,56);
}          
            .button6 {
    background: rgb(36,89,120);
}
    


body {
    background-color: rgb(100,50,75);
}

p,h1{
    background-color: #00ff00;
    color: rgb(80,90,0);
}



